<html>
    <head>
      <title>NoPort</title>

      <link rel="stylesheet" href="/css/style.css" />
    </head>

    <body>
      <header>
        <h1><a href="/">NoPort</a></h1>
        {{#if loggedIn}}
          <span>Logged in</span>
        {{/if}}
        <ul>
          <a href="/courses">Courses</a>
          <a href="/roles">Roles</a>
          <a href="/users">Users</a>
        {{#if loggedIn}}
          <a href="/logout">Logout</a>
        
        {{else}}
          <a href="/login">Login</a>
          <a href="/signup">Register</a>
          {{/if}}
        </ul>
      </header>
      {{{body}}}

    </body>

  </html>