<h1>Delete</h1>
<div>
  <form>
  <input type="hidden" value="{{_id}}" />
    <div>
      <label for="Name">Name</label>
      <input class="Name" name="Name" readonly type="text" value="{{Name}}" />
    </div>
      <input type="submit" class="btn submit" value="Delete" />
  </form>
</div>
<script src="/js/roles/delete.js"></script>
  