<h1>Delete</h1>
<div>
  <form>
  <input type="hidden" value="{{_id}}" />
    <div>
      
      <label for="Name">Name</label>
      <input class="Name" name="Name" type="text" value="{{Name}}" />
    </div>
  </form>
</div>
<script src="/js/roles/edit.js"></script>
  