<h1>Edit role</h1>
<div>
  <form>
    <div>
      <input type="hidden" value="{{_id}}" />
      <label for="Name">Name</label>
      <input class="Name" name="Name" type="text" value="{{Name}}" />
    </div>
    <div>
      <input type="submit" class="btn submit" value="Submit" /></div>
  </form>
</div>
<script src="/js/roles/edit.js"></script>
