<h1>Create</h1>
<div>
  <form>
  <div>
    <label for="FirstName">FirstName</label>
    <input class="FirstName" name="FirstName" required type="text" placeholder="FirstName" />
  </div>
    <div>
    <label for="LastName">LastName</label>
    <input class="LastName" name="LastName" required type="text" placeholder="LastName" />
  </div>
    <div>
    <label for="Email">Email</label>
    <input class="Email" name="Email" required type="text" placeholder="Email" />
  </div>
    <div>
    <label for="Password">Password</label>
    <input class="Password" name="Password" required type="text" placeholder="Password" />
  </div>
    <div>
      <input type="submit" class="btn submit" value="Submit" />
    </div>
  </form>
</div>
<script src="/js/users/create.js"></script>
  